
.naushnik {
    margin-top: 72px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #838383;
    }

    &__cards {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__link {
        text-decoration: none;
    }


    &__card {
        text-decoration: none;
        background-color: #fff;
        position: relative;
        padding-top: 15px;
        padding-left: 21px;
        padding-right: 21px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 350px;
        min-height: 407px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;

        img {
            margin: 0 auto;
        }

        &__body {
            display: flex;
            // align-items: flex-start;
            justify-content: space-between;
        }

        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            color: #1C1C27;
        }

        &__price p {
            margin: 0;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            color: #FFA542;
        }

        &__price del {
            margin: 0;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            text-decoration-line: line-through;
            color: #FFCE7F;
        }

    }
    &__reting {
        img {
            vertical-align: middle;
            display: inline-block;
        }

        p {
            color: black;
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
        }
    }
    
    &__likeSvg-btn {
        cursor: pointer;
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: #fff;
        border: none;
    }
    
}