.selected {
    margin-top: 75px;

    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 100%;
        max-width: 1110px;
        min-height: 668px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
    }


    &__img-wrapper {
        display: flex; 
        flex-wrap: wrap;
        gap: 20px;
    }

    &__text-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card-full-info {
        background: #F9F9F9;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        width: 100%;
        max-width: 824px;
        min-height: 300px;
    }

    &__title {
        position: relative;
        padding: 20px 22px;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;

        &__btn {
            display: none;
            position: absolute;
            top: 40%;
            right: 5%;
            border: none;
            background-color: #fff;
            font-size: large;
        }
    }

    &__desc-wrapper {
        padding: 20px 22px;
        display: flex; 
        flex-direction: column;
        gap: 10px;
    }

    &__desc-wrapper p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #1C1C27;
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 18px;

        .kupit {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 254px;
            min-height: 45px;
            background: #101010;
            color: #fff;
            text-decoration: none;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
        }
    }

    &__button {
        border: none;
        width: 254px;
        min-height: 45px;
        background: #101010;
        color: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        img {
            margin-right: 15px;
        }
    }

    &__flex {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1120px) {
    .selected {
        &__flex {
            width: 100%;
            gap: 15px;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: 500px) {
    .selected {

        &__card {
            min-height: 428px;
        }

        &__img-wrapper {
            position: relative;

            &__img {
                position: absolute;
            }
        }

        &__text-wrapper {
            position: absolute;
            left: 9%;
            top: 80%;
        }

        &__full-info {
            position: relative;
        }

        &__title {
            &__btn {
                display: block;
            }
        }
    }
}