.Admin {
    margin-top: 75px;

    .blue { color: #185875; }
    .yellow { color: #FFF842; }

.container-table th h1 {
	  font-weight: bold;
	  font-size: 1em;
     text-align: left;
    color: #ffffff;
}

.container-table td {
	  font-weight: normal;
	  font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container-table {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container-table td, .container-table th {
	  padding-bottom: 2%;
	  padding-top: 2%;
        padding-left:2%;  
}

/* Background-color of the odd rows */
.container-table tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container-table tr:nth-child(even) {
	  background-color: #2C3446;
}

.container-table th {
	  background-color: #1F2739;
}

.container-table td:first-child { color: #FB667A; }
.container-table td:last-child { color: #fff;}

@media (max-width: 800px) {
.container-table td:nth-child(4),
.container-table th:nth-child(4) { display: none; }
}
}